.toggle-button {

    /*padding: 10px 20px;
    border-radius: 50%;
    width: 100px;
    border: none;
    cursor: pointer;*/
    
}

.toggle-button.active {

    background-color: #4CAF50;
    color: white;
}

.toggle-button.inactive {

    background-color: #f44336;
    color: white;
}